<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for signing up, <%= @user.name %>!</h3>
    <p>Your Account is now ready. Thanks for joining and have a great day! Now sign in and do
awesome things!</p><a href="<%= root_url %>users/sign_in">users/sign_in</a>

  </body>
</html>
