<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Sorry for signing up, <%= @user.name %>!</h3>
    <p>Your Account is disapproved by Site Admin, Please contact to Site Admin soon for disapproval!</p>
  </body>
</html>
